<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.harbor.ormlite">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".hello.HelloAndroid" />

        <activity android:name=".hello_h2.HelloAndroidH2" />

        <activity android:name=".nobase.HelloNoBase" />

        <activity
            android:name=".clickcounter.ClickConfig"
            android:label="Create Counter"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".clickcounter.CreateCounter"
            android:label="Create Counter"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".clickcounter.CounterScreen"
            android:label="Counter"
            android:screenOrientation="portrait" />

        <activity android:name=".notifyservice.MyActivity" />
        <activity
            android:name=".notifyservice.ThingActivity"
            android:label="Thing" />

        <service android:name=".notifyservice.GetStuffService" />
    </application>

    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

</manifest>
